<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <div class="col-12">
                <h2>Configuración del proceso</h2>
                <br>
                <!-- Nav tabs -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 1}" role="tab"
                        (click)="tab=1" aria-controls="steps">
                        <i class="material-icons">add_box</i>Steps
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 2}" role="tab"
                        (click)="tab=2" aria-controls="roles">
                        <i class="material-icons">build</i>Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 3}" role="tab"
                        (click)="tab=3" aria-controls="variables">
                        <i class="material-icons">list</i>Variables
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="steps" class="tab-pane" [ngClass]="{'active':tab === 1}" role="tabpanel"><br>
                    <div class="row">
                        <div class="col-12">Inicio</div>
                        <div class="col-2" *ngFor="let item of steps">
                            {{item.step}}
                        </div>
                    </div>
                </div>
                <div id="roles" class="tab-pane" [ngClass]="{'active':tab === 2}" role="tabpanel"><br>
                    <div class="row">
                            <div class="col-2" *ngFor="let item of roles">
                                {{item}}
                            </div>
                        </div>
                </div>
                <div id="variables" class="tab-pane" [ngClass]="{'active':tab === 3}" role="tabpanel"><br>
                    <p>Variales</p>
                </div>
            </div>
        </div>
    </div>
</div>