<div class="card mt-2">
    <div class="card-header">
        <div class="row">
            <i class="material-icons cursor m-2" (click)="volver()">backspace</i>
            <div class="col-11">
                <h2>Configuración del proceso</h2>
                <br>
                <!-- Nav tabs -->
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 1}" role="tab"
                        (click)="tab=1" aria-controls="steps">
                        <i class="material-icons">add_box</i>Steps
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 2}" role="tab"
                        (click)="tab=2" aria-controls="roles">
                        <i class="material-icons">person_add</i>Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 3}" role="tab"
                        (click)="tab=3" aria-controls="variables">
                        <i class="material-icons">list</i>Variables
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="steps" class="tab-pane" [ngClass]="{'active':tab === 1}" role="tabpanel"><br>
                    <div class="row justify-content-center">
                        <div *ngFor="let item of steps; let i = index" class="col-12 col-md-2 m-2">
                            <div class="cursor" (click)="addColorstep(i)"
                                [ngClass]="{'btn-success':item.status == true, 'btn-secondary':!item.status }">
                                {{item.step.step}}
                            </div>
                            <i class="material-icons cursor m-1"
                                (click)="configRules(item.step._id, item.step.step, i)">list_alt</i>
                            <i class="material-icons cursor m-1"
                                (click)="configStep(item.step._id, item.step.step, i)">settings</i>
                            <i class="material-icons cursor m-1" (click)="deleteStep(item.step._id, i)">delete</i>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-2">
                        <div class="col-sm-8">
                            <button (click)="addstepsProcess()" type="button" class="btn btn-dark btn-block">Añadir
                                steps al proceso</button>
                        </div>
                    </div>
                </div>
                <div id="roles" class="tab-pane" [ngClass]="{'active':tab === 2}" role="tabpanel"><br>
                    <div class="row justify-content-start" *ngIf="roles">
                        <ul id="ul-{{i}}" class="col-2 m-2 mostrarRoles" *ngFor="let item of roles; let i= index">
                            <li id="li-{{i}}">
                                <i class="material-icons">person</i>
                                {{item.role}}
                                <i class="material-icons cursor m-2" (click)="configRol(item._id, i)">update</i>
                                <i class="material-icons cursor m-2" (click)="deleteRol(item._id, i)">delete</i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12" *ngIf="actualizarRol==false">
                        <form action="" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nombre del Rol: </span>
                                    </div>
                                    <input class="form-control" id="nomRolCreate" type="text" name="nomRolCreate"
                                        [(ngModel)]="nomRolCreate">
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center mt-2">
                            <div class="col-sm-8">
                                <button (click)="addRolProcess()" type="button" class="btn btn-dark btn-block">Añadir
                                    rol al proceso</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="actualizarRol">
                        <form action="" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nombre del Rol: </span>
                                    </div>
                                    <input class="form-control" id="nomRolCreate" type="text" name="nomRolCreate"
                                        [(ngModel)]="nomRolCreate">
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center mt-2">
                            <div class="col-sm-8">
                                <button (click)="updateRolProcess()" type="button"
                                    class="btn btn-dark btn-block">Actualizar
                                    rol del proceso</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="variables" class="tab-pane" [ngClass]="{'active':tab === 3}" role="tabpanel"><br>
                    <div class="row justify-content-start" *ngIf="variables">
                        <ul id="ul-{{i}}" class="col-2 m-2 mostrarRoles" *ngFor="let item of variables; let i= index">
                            <li id="li-{{i}}">
                                <i class="material-icons">details</i>
                                {{item.variable}} : {{item.value}}
                                <i class="material-icons cursor m-2" (click)="configVariable(item._id, i)">update</i>
                                <i class="material-icons cursor m-2" (click)="deleteVariable(item._id, i)">delete</i>
                            </li>
                        </ul>
                    </div>
                    <div class="col-12" *ngIf="actualizarVariable==false">
                        <form action="" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Nombre de la Variable: </span>
                                            </div>
                                            <input class="form-control" id="nomVariableCreate" type="text"
                                                name="nomVariableCreate" [(ngModel)]="nomVariableCreate">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Valor de la Variable: </span>
                                            </div>
                                            <input class="form-control" id="valorVariableCreate" type="text"
                                                name="valorVariableCreate" [(ngModel)]="valorVariableCreate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center mt-2">
                            <div class="col-sm-8">
                                <button (click)="addVariableProcess()" type="button"
                                    class="btn btn-dark btn-block">Añadir
                                    Variable al proceso</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" *ngIf="actualizarVariable">
                        <form action="" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Nombre de la Variable: </span>
                                        </div>
                                        <input class="form-control" id="nomVariableCreate" type="text"
                                            name="nomVariableCreate" [(ngModel)]="nomVariableCreate">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Valor de la Variable: </span>
                                        </div>
                                        <input class="form-control" id="valorVariableCreate" type="text"
                                            name="valorVariableCreate" [(ngModel)]="valorVariableCreate">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row justify-content-center mt-2">
                            <div class="col-sm-8">
                                <button (click)="updateVariableProcess()" type="button"
                                    class="btn btn-dark btn-block">Actualizar
                                    variable del proceso</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>