<div class="container">
    <div class="row">
        <div class="col-12 mt-2">
            <h2>Configuración del proceso</h2>
            <br>
            <!-- Nav tabs -->
        </div>
        <div class="col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 1}" role="tab"
                        (click)="tab=1" aria-controls="steps">
                        <i class="material-icons">add_box</i>Steps
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 2}" role="tab"
                        (click)="tab=2" aria-controls="roles">
                        <i class="material-icons">build</i>Roles
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active cursor" data-toggle="tab" [ngClass]="{'active':tab === 3}" role="tab"
                        (click)="tab=3" aria-controls="variables">
                        <i class="material-icons">list</i>Variables
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="steps" class="tab-pane" [ngClass]="{'active':tab === 1}" role="tabpanel"><br>
                    <p>Steps</p>
                </div>
                <div id="roles" class="tab-pane" [ngClass]="{'active':tab === 2}" role="tabpanel"><br>
                    <p>Roles</p>
                </div>
                <div id="variables" class="tab-pane" [ngClass]="{'active':tab === 3}" role="tabpanel"><br>
                    <p>Variales</p>
                </div>
            </div>
        </div>
    </div>
</div>